
:root {
    --letter-green: #4ca136;
    --letter-green-light: #6ce44e;
    --letter-gray: #686868;
    --letter-gray-light: #adadad;
    --letter-yellow: #b4b435;
    --letter-yellow-light: #e7e744;
    --border-transparent: rgba(255, 255, 255, .3);
}

body {
    background-color: #333333;
    color: white;
    font-family: sans-serif;
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

button {
    all: unset;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
}

#left-panel {
    display: none;
    width: 50%;
    box-sizing: border-box;
    border-right: 2px solid var(--border-transparent);
    background-color: #222222;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

#left-header {
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid var(--border-transparent);
    font-size: 2rem;
    align-self: flex-start;
}

.spaced-text {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.spaced-text span {
    display: table-cell;
    text-align: center;
}

.board-container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 10px;
}

.board {
    display: grid;
    gap: 5px;
}

.board-status {
    text-align: center;
    margin-top: 0px;
    font-size: 1.5rem;
}

.board-row {
    display: grid;
    /* Doesn't allow for other numbers of columns */
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin: 0 40px;
}

.board-letter {
    display: inline-flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 2rem;
    vertical-align: middle;
    border: 2px solid var(--border-transparent)
}

.letter-green {
    background-color: var(--letter-green);
}

.letter-yellow {
    background-color: var(--letter-yellow);
}

.letter-gray {
    background-color: var(--letter-gray);
}

.letter-blank {
    background-color: #222222;
}

.kb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kb-row {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.kb-letter {
    width: 100%;
    font-size: 1.5rem;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.kb-spacer {
    visibility: none;
    flex: 0.5;
}